  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/assets/logos/logo_cirmar_small.png" style="margin-top: -10px; margin-left: 10px;">
          </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
<!--        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li> -->
        <li><a href="/stats">Stats</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AIS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/messages">Messages</a></li>
            <li><a href="/covered_ships">Covered Ships</a></li>
          </ul>
        </li>
        <li><a href="/ships">Ships</a></li>
        <li class="active"><a href="/metadata">Metadata</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome!</a></li>
        <li><a href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>
  <br/>
  <br/>
  <br/>


    <title>Metadata Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">

    


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">




<!--     <style type="text/css">
      body {
        padding-top: 54px;
      }

      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style> -->


    <!-- Page Content -->
    <div class="container">

      <div class="row">


        <div class="col-sm-10 col-offset-sm-2" >
          <div class="row">
            <div class="col-sm-3" >
              <img src="/assets/logos/LOGO_CIRMAR_3.png" alt="cirmar-logo" class="img-rounded" style="width: 100%; height: 100%">
            </div>
            <div class="col-sm-6" >
              <div align="center">
                <h1>Fiche métadonnées</h1>
                <h3>Description de la donnée</h3>
                <div>Les champs avec * doivent être remplis!</div>
                <div>Pour tout renseignement complémentaire: <br/>plateforme.classe@univ-lehavre.fr</div>
              </div>
            </div>
            <div class="col-sm-3" >
              <img src="/assets/logos/logo_devport_2.png" alt="devport-logo" class="img-rounded" style="width: 100%; height: 100%">
            </div>            
          </div>  
            <br/>

            <form>
              <div class="row">
                <div class="form-group">
                  <label for="exampleInputEmail1">Titre *</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Nom caractéristique et souvent unique sous lequel la ressource est connue"></span>
                  <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Titre">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Descriptif *</label>
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Bref résumé narratif du contenu de la ressource"></span>
                  <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Descriptif">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" style="background-color: white;">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Date *</label>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Date de référence de la ressource"></span>
                    <input type="input" class="form-control from" placeholder="Date" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Couverture géographique</label>
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Étendue de la ressource dans l’espace géographique"></span>
                    <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Couverture géographique">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Nombre d’entités</label>
                    <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Nombre d’entités">
                  </div>
                </div>
                <div class="col-sm-6" style="background-color: white;">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Thématique *</label><br/>
                    <select class="selectpicker" multiple data-max-options="3" title="Choisissez jusqu'à 3">
                      <option>Transport</option>
                      <option>Environnement</option>
                      <option>Frontières, limites administratives</option>
                      <option>Économie</option>
                      <option>Géographie physique</option>
                      <option>Cartes de base</option>
                      <option>Hydrographie</option>
                      <option>Occupation des sols</option>
                      <option>Communication</option>
                      <option>Constructions</option>
                      <option>Société</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Format *</label>
                    <div class="checkbox">
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Shape
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Excel
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Texte
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Access
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" name="inlineRadioOptions" data-for="u"/> Autre
                        <input type="text" id="u" size="10" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" >
                <h3 align="center">Option pour les données géographiques</h3>
                <div class="row">
                  <div class="col-sm-6" style="background-color: white;">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Géocodé à</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Préciser la précision géographique de la donnée ( à l'adresse, à la rue, à la commune, ...)"></span>
                      <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Géocodé à">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Projection</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Système de géoréférencement ou systèmes de coordonnées référence"></span>
                      <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Projection">
                    </div>                   
                  </div>
                  <div class="col-sm-6" style="background-color: white;">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Type</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Ponctuel, linéaire ou surfacique"></span>
                      <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Type">
                    </div> 
                  </div>
                </div>
              </div>
              <div class="row" >
                <h3 align="center">Source de la donnée</h3>
                <div class="row">
                  <div class="col-sm-6" style="background-color: white;">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Organisme émeteur *</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Nom de l'organisation responsable de la création de la donnée"></span>
                      <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Organisme émeteur">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Mail contact *</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mail de la personne responsable de son acquisition"></span>
                      <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Mail contact">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Périodicité de la mise à jour *</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Préciser si la mise à jour annuelle, mensuelle, ... ou le moment de l'année (mois ou trimestre) pour sa mise à jour"></span>
                      <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Périodicité">
                    </div>
                  </div>
                  <div class="col-sm-6" style="background-color: white;">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nom contact *</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Nom de la personne responsable de son acquisition"></span>
                      <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Nom contact">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Tél. contact</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Téléphone de la personne responsable de son acquisition"></span>
                      <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Tél. contact">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Accès *</label>
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Conditions de mises à dispositions aux autres utilisateurs"></span>
                      <div class="radio">
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Open
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Privé
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Usage Non Commercial
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Sous Condition
                        </label>
                      </div>
                    </div>                    
                  </div>
                </div>
<!--                 <div class="row">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Adresse</label>
                      <textarea class="form-control" rows="1" placeholder="Adresse"></textarea>
                    </div>
                </div> -->
              </div>
              <br/>
              <div class="row" align="center">
                <h3>Champs de la donnée</h3>
              </div>

              <table class="table table-condensed" id="dataTable">
                <thead>
                  <tr>
                    <th>Nom du champ</th>
                    <th>Type du champ</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                  </tr>
                  <tr>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                  </tr>
                  <tr>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                    <td><input type="input" class="form-control" id="exampleInputPassword1"></td>
                  </tr>
                </tbody>
              </table>
              
              <INPUT type="button" value="Ajouter une ligne" onclick="addRow('dataTable')" />

              <!-- <INPUT type="button" value="Delete Row" onclick="deleteRow('dataTable')" /> -->
              <br/>
              <br/>
              <br/>
              <button type="submit" class="btn btn-default">Soumettre</button>
            </form>
            <br/>
            <br/>


        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->






    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
<script type="text/javascript">
// $("input:checkbox").on("click", function() {
//     $("input:text").attr("disabled", true);
    
//     $(this).next("input").attr("disabled", false)
// });

var startDate = new Date();
var fechaFin = new Date();
var FromEndDate = new Date();
var ToEndDate = new Date();




$('.from').datepicker({
    autoclose: true,
    minViewMode: 1,
    format: 'mm/yyyy'
}).on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('.to').datepicker('setStartDate', startDate);
    }); 

$('.to').datepicker({
    autoclose: true,
    minViewMode: 1,
    format: 'mm/yyyy'
}).on('changeDate', function(selected){
        FromEndDate = new Date(selected.date.valueOf());
        FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
        $('.from').datepicker('setEndDate', FromEndDate);
    });









    function addRow(tableID) {

      var table = document.getElementById(tableID);

      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);

      var cell0 = row.insertCell(0);
      var element0 = document.createElement("input");
      element0.type = "input";
      element0.name="chkbox[]";
      element0.class="form-control";
      cell0.appendChild(element0);

      var cell1 = row.insertCell(1);
      var element1 = document.createElement("input");
      element1.type = "input";
      element1.name="chkbox[]";
      element1.class="form-control";
      cell1.appendChild(element1);

      var cell2 = row.insertCell(2);
      var element2 = document.createElement("input");
      element2.type = "input";
      element2.name = "txtbox[]";
      cell2.appendChild(element2);


    }

    function deleteRow(tableID) {
      try {
      var table = document.getElementById(tableID);
      var rowCount = table.rows.length;

      for(var i=0; i<rowCount; i++) {
        var row = table.rows[i];
        var chkbox = row.cells[0].childNodes[0];
        //if(null != chkbox && true == chkbox.checked) {
          table.deleteRow(i);
          rowCount--;
          i--;
        //}


      }
      }catch(e) {
        alert(e);
      }
    }



</script>