

<fieldset>

  <td><%= f.text_field :champ_nom, :class =>"form-control", placeholder: "field_name" %></td>
  <td><%= f.text_field :champ_type, :class =>"form-control", placeholder: "field_name" %></td>
  <td><%= f.text_field :champ_description, :class =>"form-control", placeholder: "field_name" %></td>

  <td><%= link_to "remove", '#', class: "remove_fields" %></td>
</fieldset>

