// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
    height: 680px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
    background-color: red;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}